.reset-button {
	font-size: 1rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.button-primary {
	@extend .reset-button;

	padding: 14px 36px;
	border: 2px solid var(--ui-color-primary);
	background-color: var(--ui-color-primary);
	transition: background-color .3s ease-in-out;

	&:hover,
	&:focus-visible {
		background-color: transparent;
	}
}
