.reset-button {
	color: var(--ui-color-text);
	font-size: 1rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.button-primary {
	@extend .reset-button;

	padding: rem(14px) rem(36px);
	border: 2px solid var(--ui-color-primary);
	background-color: var(--ui-color-primary);
	transition: background-color .3s ease-in-out;

	&:hover,
	&:focus-visible {
		background-color: transparent;
	}
}

.button-secondary {
	@extend .reset-button;

	padding: rem(14px) rem(36px);
	border: 2px solid var(--ui-color-primary);
	transition: all .3s ease-in-out;
	transition-property: background-color, color;

	&:hover,
	&:focus-visible {
		background-color: var(--ui-color-primary);
	}
}

.button-secondary--danger {
	color: var(--ui-color-danger);
	border-color: var(--ui-color-danger);

	&:hover,
	&:focus-visible {
		color: var(--ui-color-text);
		background-color: var(--ui-color-danger);
	}
}