.field-group {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	font-size: calc(18px + 6 * ((100vw - rem($breakpoint-s)) / 680));

	label {
		font-weight: 600;
	}
	
	input {
		border: rem(2px) solid transparent;
		border-bottom: rem(2px) solid var(--ui-color-primary);

		&:focus {
			outline: none;
			border: rem(2px) solid var(--ui-color-primary);
			background-color: var(--ui-color-bg-secondary);
		}
	}

	@include screen-xs {
		display: block;
		font-size: calc(20px + 6 * (100vw / 680));
	}
}
