.home {
	background-color: var(--ui-color-bg-secondary);

	.header {
		position: absolute;
		inset-inline: 0;
	}

	.footer {
		@include screen-l {
			position: fixed;
			inset-inline: 0;
			bottom: 0;
		}
	}
}
