.grid-layout {
	@extend .container;

	@include screen-l {
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
		column-gap: 24px;

		max-width: rem(1484px);

	 	.left-column {
			grid-column: 2 / 8;
			outline: 1px solid pink;
			padding-top: rem(120px);
	 	}

	 	.right-column {
	 		grid-column: 8 / 12;
			outline: 1px solid rgb(160, 248, 100);
			padding-top: rem(120px);
	 	}
	}
}
